In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_excel('/content/drive/MyDrive/Instant/Power BI - Final Project.xlsx')

In [3]:
data

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,NaN,NaN,NaN,NaN,NaN,0:00:50,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,NaN,NaN,NaN,NaN,NaN,0:03:12,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,NaN,NaN,NaN,NaN,NaN,0:04:43,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,NaN,NaN,NaN,NaN,NaN,0:02:17,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,NaN,NaN,NaN,NaN,NaN,0:01:19,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [4]:
data['OS'].isnull().sum()

630

In [5]:
data['Browser'].isnull().sum()

630

In [6]:
data['City'].isnull().sum()

630

In [7]:
data['Country'].isnull().sum()

630

In [8]:
data['Referrer'].isnull().sum()

630

In [9]:
data.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [10]:
data=data.drop(columns=['Browser', 'OS', 'City', 'Country','Referrer'])

In [11]:
data

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,0:01:30,Data Analyst,No,41k-65k,Finance,R,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,0:00:50,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,0:03:12,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,0:04:43,Student/Looking/None,Yes,0-40k,Tech,Python,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,0:02:17,Data Engineer,No,0-40k,Tech,Python,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,0:01:19,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [12]:
data.dtypes

Unique ID                                                                                        object
Email                                                                                            object
Date Taken (America/New_York)                                                                    object
Time Taken (America/New_York)                                                                    object
Time Spent                                                                                       object
Q1 - Which Title Best Fits your Current Role?                                                    object
Q2 - Did you switch careers into Data?                                                           object
Q3 - Current Yearly Salary (in USD)                                                              object
Q4 - What Industry do you work in?                                                               object
Q5 - Favorite Programming Language                                                               object
Q6 - How Happy are you in your Current Position with the following? (Salary)                    float64
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)         float64
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                 float64
Q6 - How Happy are you in your Current Position with the following? (Management)                float64
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)           float64
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)       float64
Q7 - How difficult was it for you to break into Data?                                            object
Q8 - If you were to look for a new job today, what would be the most important thing to you?     object
Q9 - Male/Female?                                                                                object
Q10 - Current Age                                                                                 int64
Q11 - Which Country do you live in?                                                              object
Q12 - Highest Level of Education                                                                 object
Q13 - Ethnicity                                                                                  object
dtype: object

In [13]:
data.isnull().sum()

Unique ID                                                                                        0
Email                                                                                            0
Date Taken (America/New_York)                                                                    0
Time Taken (America/New_York)                                                                    0
Time Spent                                                                                       0
Q1 - Which Title Best Fits your Current Role?                                                    0
Q2 - Did you switch careers into Data?                                                           0
Q3 - Current Yearly Salary (in USD)                                                              0
Q4 - What Industry do you work in?                                                               0
Q5 - Favorite Programming Language                                                               0
Q6 - How Happy are you in your Current Position with the following? (Salary)                     7
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)         10
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                 11
Q6 - How Happy are you in your Current Position with the following? (Management)                12
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)           13
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)        5
Q7 - How difficult was it for you to break into Data?                                            0
Q8 - If you were to look for a new job today, what would be the most important thing to you?     0
Q9 - Male/Female?                                                                                0
Q10 - Current Age                                                                                0
Q11 - Which Country do you live in?                                                              0
Q12 - Highest Level of Education                                                                52
Q13 - Ethnicity                                                                                  0
dtype: int64

In [14]:
data.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [15]:
data['Q6 - How Happy are you in your Current Position with the following? (Salary)'].fillna(data['Q6 - How Happy are you in your Current Position with the following? (Salary)'].mean(),inplace=True)

In [16]:
data['Q6 - How Happy are you in your Current Position with the following? (Learning New Things)'].fillna(data['Q6 - How Happy are you in your Current Position with the following? (Learning New Things)'].mean(),inplace=True)

In [17]:
data['Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)' ].fillna(data['Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)'].mean(),inplace=True)

In [18]:
data['Q6 - How Happy are you in your Current Position with the following? (Coworkers)'].fillna(data['Q6 - How Happy are you in your Current Position with the following? (Coworkers)'].mean(),inplace=True)

In [19]:
data['Q6 - How Happy are you in your Current Position with the following? (Management)'].fillna(data['Q6 - How Happy are you in your Current Position with the following? (Management)'].mean(),inplace=True)

In [20]:
data['Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)'].fillna(data['Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)'].mean(),inplace=True)

In [21]:
data['Q12 - Highest Level of Education'].tail()

625    Bachelors
626    Bachelors
627    Bachelors
628    Bachelors
629    Bachelors
Name: Q12 - Highest Level of Education, dtype: object

In [22]:
data['Q12 - Highest Level of Education'].unique()

array([nan, 'High School', 'Bachelors', 'Masters', 'Associates', 'PhD'],
      dtype=object)

In [23]:
data['Q10 - Current Age'].groupby(data['Q12 - Highest Level of Education']).sum()

Q12 - Highest Level of Education
Associates      519
Bachelors      9378
High School    1114
Masters        6005
PhD             199
Name: Q10 - Current Age, dtype: int64

In [28]:
# Define the correct age ranges for each education level
education_age_ranges = {
    'High School': (15, 19),
    'Associates': (20, 23),  # Ends before Bachelors
    'Bachelors': (24, 27),   # Starts after Associates
    'Masters': (28, 35),     # Starts after Bachelors
    'PhD': (36, 50)          # Starts after Masters
}


# Apply the age range adjustments
for edu, (min_age, max_age) in education_age_ranges.items():
    data.loc[data['Q12 - Highest Level of Education'] == edu, 'Q10 - Current Age'] = \
        data.loc[data['Q12 - Highest Level of Education'] == edu, 'Q10 - Current Age'].clip(min_age, max_age)

In [29]:
# Check the min and max age for each education level
age_ranges_updated = data.groupby('Q12 - Highest Level of Education')['Q10 - Current Age'].agg(['min', 'max'])

# Display the updated age ranges
print("Updated Age Ranges After Adjustment:")
print(age_ranges_updated)

Updated Age Ranges After Adjustment:
                                  min  max
Q12 - Highest Level of Education
Associates                         22   23
Bachelors                          24   27
High School                        19   19
Masters                            28   35
PhD                                36   50

In [33]:

def assign(age):
  if age==19:
    return 'High School'
  elif 22<=age<=23:
    return 'Associates'
  elif 24<=age<=27:
    return 'Bachelors'
  elif 28<=age<=35:
    return 'Masters'
  else:
    return 'Phd'
data['Q12 - Highest Level of Education'].fillna(data['Q10 - Current Age'].apply(assign),inplace=True)

In [34]:
data

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,Bachelors,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,0:01:30,Data Analyst,No,41k-65k,Finance,R,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,Phd,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,Associates,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,Masters,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,Phd,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,0:00:50,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,0:03:12,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,...,7.0,4.0,6.0,Difficult,Better Salary,Male,24,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,0:04:43,Student/Looking/None,Yes,0-40k,Tech,Python,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,0:02:17,Data Engineer,No,0-40k,Tech,Python,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,0:01:19,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,...,7.0,6.0,8.0,Easy,Remote Work,Male,24,United States,Bachelors,Asian or Asian American

In [35]:
data.isnull().sum()

Unique ID                                                                                       0
Email                                                                                           0
Date Taken (America/New_York)                                                                   0
Time Taken (America/New_York)                                                                   0
Time Spent                                                                                      0
Q1 - Which Title Best Fits your Current Role?                                                   0
Q2 - Did you switch careers into Data?                                                          0
Q3 - Current Yearly Salary (in USD)                                                             0
Q4 - What Industry do you work in?                                                              0
Q5 - Favorite Programming Language                                                              0
Q6 - How Happy are you in your Current Position with the following? (Salary)                    0
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)         0
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                 0
Q6 - How Happy are you in your Current Position with the following? (Management)                0
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)           0
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)       0
Q7 - How difficult was it for you to break into Data?                                           0
Q8 - If you were to look for a new job today, what would be the most important thing to you?    0
Q9 - Male/Female?                                                                               0
Q10 - Current Age                                                                               0
Q11 - Which Country do you live in?                                                             0
Q12 - Highest Level of Education                                                                0
Q13 - Ethnicity                                                                                 0
dtype: int64

In [37]:
cleaned_data=data

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
save_path = "/content/drive/My Drive/cleaned_dataset.csv"  # Change the name if needed

In [42]:
data.to_csv(save_path, index=False)  # Saves without index column

In [43]:
from google.colab import files
files.download(save_path)  # This will prompt a file download